{% extends "base.html" %} 
{% block title %}Home - FreePost{% endblock %} 
{% block content %}

<!-- Extend the base template and set the page title to "Home - FreePost" -->

<main class="page landing-page">
    <!-- Main content block for the landing page -->

    <section class="clean-block clean-hero" 
             style="background-image: url('{{ url_for('static', filename='/img/scenery/image1.jpg', _external=True) }}');
                    background-size: cover; color: rgba(9, 162, 255, 0.2); height: 90vh;">

        <!-- Hero section with a clean block style and background image -->
        <div class="text">
            <!-- Text content within the hero section -->
            <h2>WELCOME</h2>
            <!-- Heading for welcoming users -->
            <p><br><strong><span style="color: rgb(55, 65, 81);">
                Step into FreePost, where your thoughts find a voice.
                 Share your story. Your words matter here.
                  Welcome to the community of expression.</span></strong></p>
            <!-- Paragraph welcoming users and describing the platform -->
            <a href="/" class="btn btn-outline-light btn-lg"><strong>LOGIN</strong></a>
            <!-- Button for user login with a light outline style and large size -->
        </div>
    </section>

</main>

{% endblock %}




